.imran2 {
    background-image: url("img/Imran Rana 2.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 350px;
}
.nav {
    min-height: 100px;
}
.centr {
    text-align: center;
}
.knopki {
    border: hidden;
    border-radius: 5px;
}
.violet {
    background-color: #6f949d;
}
.common {
    min-height: 350px;
}
.common1 {
    min-height: 450px;
}
.description {
    min-height: 600px;
}
.black {
    background-color: black;
}
.white {
    color: white;
}
.big {
    font-size: 20px;
}
.medium {
    font-size: 16px;
}
.imran {
    background-image: url("img/Imran Rana 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.lightviolet {
    background-color: #e4e8eb;
}
img {
    width: 14%;
    height: 5%;
    margin-left: 45px;
}
.logo {
    min-height: 125px;
}
.topmargin {
    margin-top: 20px;
}
.btn2 {
    width: 180px;
}
.row:after {
    display: block;
    content: '';
    clear: both;
}
.contactimg{
    border-radius: 50%;
    border: hidden;
    width: 50%;
    height: 100%;
}
.input {
    border-bottom: 1px solid white;
    color: white;
    margin-top: 30px;
}
.footer {
    min-height: 80px;
    font-size: 36px;
    padding-top: 10px;
}
.form {
    background: #5f7d82;
}
.submit {
    font-size: 13px;
    border: 1px solid white;
    border-radius: 5px;
    background: #5f7d82;
    margin-top: 45px;
    margin-bottom: 35px;
    padding: 10px;
}
.small {
    font-size: 12px;
}
.marginbot {
    margin-bottom: 15px;
}
.huge {
    font-size: 30px;
}
.violettext {
    color: #6f949d;
}
.margintop {
    margin-top: 15%;
}
@media all and (max-width: 750px) {
    .margintop{
    margin-top:2%;}
}
@media all and (max-width: 970px) {
    .margintop{
        margin-top:8%;}
}
